<footer>
    <a href="https://www.flaticon.com/free-icons/paw" title="paw icons">Paw icons created by Creatype - Flaticon</a><br>
    <a href="https://www.pexels.com/collections/pets-r-us-cpbv2o9/">Photos sourced by Pexel</a>
</footer>