<div class="header">
    <!--
    <img src="img/paws.png" alt="paw icon" class="header-icon">

    -->
    <h1><a href="#">Pets-R-Us</a></h1>

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/grooming">Grooming</a></li>
        </ul>
    </nav>
</div>

